#our-work {
    overflow: hidden;
}

.our-work-head-div {
    padding-top: 5%;
    padding-left: 8%;
}

.our-work-veda {
    background-color: #007bffc2;
    padding: 2% 5%;
}

.our-work-mr-sidd {
    background-color: #ededed;
    padding: 2% 5%;
}

.our-work-corona {
    background-color: #007bffc2;
    padding: 2% 5%;
}

.our-work-chat {
    background-color: #ededed;
    padding: 2% 5%;
}

.our-work-saroja {
    background-color: #007bffc2;
    padding: 2% 5%;
}

/* Image on Left */
.our-work-flex-1 {
    display: flex;
    flex-direction: row;
}

.our-work-flex-1 img {
    height: 350px;
    width: auto;
}

.our-work-flex-div-1 {
    display: flex;
    flex-direction: column;
}

.our-work-flex-div-1 h2 {
    color: white;
    text-align: left;
    margin: 2% 0;
}

.our-work-flex-div-1 p {
    padding: 0 1%;
    text-align: justify;
}

/* Image on Right */

.our-work-flex-2 {
    display: flex;
    flex-direction: row-reverse;
}

.our-work-flex-2 img {
    height: 350px;
    width: auto;
}

.our-work-flex-div-2 {
    display: flex;
    flex-direction: column;
}

.our-work-flex-div-2 h2 {

    text-align: right;
    margin: 2% 0;
}

.our-work-flex-div-2 p {
    padding: 0 1%;
    text-align: justify;
}

.right-to-left {
    position: relative;
    animation: right-to-left 4s 1;
}

@keyframes right-to-left {
    0% {
        opacity: 0.3;
        left: 50%;
        top: 0px;
    }

    100% {
        opacity: 1;
        left: 0px;
        top: 0px;
    }
}

.left-to-right {
    position: relative;
    animation: left-to-right 4s 1;
}

@keyframes left-to-right {
    0% {
        opacity: 0.3;
        right: 50%;
        top: 0px;
    }

    100% {
        opacity: 1;
        right: 0px;
        top: 0px;
    }
}

@media only screen and (max-width: 900px) {

    .our-work-flex-1,
    .our-work-flex-2 {
        flex-direction: column;
        align-items: center;
        align-content: center;
    }


}

@media only screen and (max-width: 700px) {

    .our-work-flex-1 img,
    .our-work-flex-2 img {
        height: 300px;
        width: 70%;
    }
}


@media only screen and (max-width: 600px) {

    .our-work-flex-1 img,
    .our-work-flex-2 img {
        height: 250px;
        width: 85%;
    }
}

@media only screen and (max-width: 500px) {

    .our-work-flex-1 img,
    .our-work-flex-2 img {
        height: 200px;
        width: 100%;
    }
}